#btnProjecao {
  margin-top: 15px;
  background: #84b082;
}

#btnProjecao:hover {
  background: #6f9c95;
}

#modalProjecao .modal-content p {
  display: flex;
  justify-content: space-between;

  background: #fafafa;

  padding: 12px 14px;

  border-radius: 10px;

  margin-bottom: 10px;
}

#projSaldoAtual {
  color: #2d232e;
}

#projSaidasPendentes {
  color: var(--vermelho);
}

#projSaldoFinal {
  color: #84b082;
  font-weight: 700;
  font-size: 20px;
}
