.sidebar {
  position: fixed;
  left: 0;
  top: 0;

  height: 100vh;
  width: 210px;

  background: var(--cinza-1);

  padding: 30px 20px;

  display: flex;
  flex-direction: column;

  box-shadow: 3px 0 15px rgba(0, 0, 0, 0.15);
}

.sidebar h2 {
  color: var(--rosa);

  font-size: 22px;
  margin-bottom: 30px;

  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar a {
  display: flex;
  align-items: center;

  gap: 12px;

  text-decoration: none;
  color: var(--cinza-borda);

  padding: 12px 14px;
  border-radius: 10px;

  font-weight: 500;

  transition: all 0.2s ease;
}

.sidebar a i {
  width: 18px;
  text-align: center;
}

.sidebar a:hover {
  background: var(--cinza-2);
  color: var(--branco);
  transform: translateX(3px);
}

.sidebar a.active {
  background: var(--rosa);
  color: var(--cinza-1);
}

.sidebar-bottom {
  margin-top: auto;
}

#btnLogout {
  color: var(--rosa);
}

#btnLogout:hover {
  background: var(--cinza-3);
}
